* {

  margin: 0;
  padding: 0;
  
}

body {
  background-color: #342d32;
}

.logo {

  width: 150px;
  height: 150px;

 
}

.navbar {
  background: rgb(177, 187, 187);
  
  margin : 0px;
  padding : 0px;
 
  vertical-align: middle; 
  transform: translateZ(50px);
}




.nav-item-hover-effect:hover .nav-link {
  background-color: #f2f9efc9; /* Couleur de fond au survol */
  color:blanchedalmond;/* Couleur du texte au survol */
  display: flex;
  height: 35px;
  align-items: center;
  gap: 10px;
  padding: 10px 40px;
}

/* Style pour la classe active */
.nav-item-hover-effect .active.nav-link {
  background-color:#c2c6c1; /* Couleur de fond pour l'élément actif */
  color: #ebe1e4a4; /* Couleur du texte pour l'élément actif */
  display: flex;
  height: 35px;
  align-items: center;
  gap: 10px;
  padding: 10px 40px;
}


.categorie {
  border: 20px;
  border-color: #342d32;
}

.parallax {

  background-image: url("https://img.freepik.com/vecteurs-libre/vecteur-conception-cadre-malbouffe-vierge_53876-108748.jpg?size=626&ext=jpg&ga=GA1.2.535422432.1704270397&semt=ais");
  background-attachment: fixed; /* Fixe l'image pendant le scroll */
  background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
  background-position: center; /* Centre la position de l'image */
  background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
  background-color: #212420;
  overflow: hidden;
  
}


.img-thumbnail {
  perspective: 590px;
  perspective-origin: 150% 150%;
  transform-style: preserve-3d;
  backface-visibility: visible;
  background: rgba(0, 0, 0, 0.3);
  transform: translateZ(50px);
  
}

.image-hover-effect {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.image-hover-effect:hover {
  background-color: brown;
}


/*.btn_next {

  width: 165px;
  height: 214px;
  transform: rotate(90deg);
  flex-shrink: 0; 

}

/* logo_transparent 2 */

/*--#{$prefix}nav-underline-gap: #{$nav-underline-gap};
--#{$prefix}nav-underline-border-width: #{$nav-underline-border-width};
--#{$prefix}nav-underline-link-active-color: #{$nav-underline-link-active-color};